* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100vw;
    height: 30vh;
    position: relative;
    overflow: hidden;
    background-color: papayawhip;
    background-image: url('pexels-scott-webb-1029604.jpg');
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    
}

.body-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.card {
    height: 100%;
    width: 25% !important;
    background: #121C72;
    position: relative;
    flex-grow: 1;
    /* background: linear-gradient(to right, #7F00FF, #E100FF); */
}

.card .img {
    background-image:url('pexels-scott-webb-1029604.jpg');
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #121C72;
}

.card-text {
    text-align: center;
    color: white;
    font-size: 1.7em;
    font-weight: 700;
    padding: 100px;
    padding-top: 50%;
}

.rest-container {
    height: 100%;
    background-color: white;
    overflow: hidden;
    width: 75%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.heading {
    height: auto;
    margin: 10px 5%;
    color:#000;
}

.underline {
    height: 5px;
    width: 90%;
    margin: auto;
    background-color: black;
}

.main-body {
    height: 100%;
    /* background-color: skyblue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iCard {
    width: 40%;
    padding: 10px;
    height: auto;
}

.iCard .card-heading {
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: 800;
    color: black;
}

.iCard .card-body {
    color: black;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media only screen and (max-width: 600px) {
    .header {
        width: 100%;
        height: 30vh;
        position: relative;
        overflow: hidden;
        background-color: papayawhip;
        background-image: url('pexels-scott-webb-1029604.jpg');
        background-size: cover;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .body-wrapper {
        display: unset;
        justify-content: unset;
        align-items: unset;
        height: unset;
    }
    .card {
        height: 30vh;
        width: 100vw !important;
        background: #121C72;
        position: relative;
        background: linear-gradient(to right, #7F00FF, #E100FF);
    }
    .card .img {
        background: #ffffff;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #7f00ff;
    }
    .card-text {
        text-align: center;
        color: white;
        font-size: 1.7em;
        font-weight: 700;
        padding: unset;
        padding-top: 120px;
    }
    .rest-container {
        height: unset;
        background-color: white;
        overflow: hidden;
        width: 100%;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .heading {
        height: auto;
        margin: 10px 5%;
        color: hsl(234, 73%, 46%);
        text-align: center;
    }
    .underline {
        height: 5px;
        width: 90%;
        margin: auto;
        background-color: black;
    }
    .main-body {
        height: 100%;
        /* background-color: skyblue; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .iCard {
        width: 100%;
        padding: 10px;
        height: auto;
        text-align: center;
    }
    .iCard .card-heading {
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: 800;
        color: hsl(234, 73%, 56%);
        color: salmon;
    }
    .iCard .card-body {
        color: black;
    }
}